burlap.algorithm=DeepQLearning
burlap.qlearning.qinit=0.1
burlap.qlearning.lr=0.25
burlap.qlearning.dqn_lr=0.001
burlap.qlearning.gamma=0.59
burlap.qlearning.epsilonval=0.5
burlap.qlearning.epsilonmin=0.1
burlap.qlearning.decayedepsilonstep=0.95
burlap.network.hidden_size=64
burlap.num_of_episodes=2
burlap.max_update_cycles=3
